*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-color: black;
}



/*        intro ___________________________________________________________________________________*/
.intro{
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(28, 28, 219);
    background: radial-gradient(circle, rgba(1, 4, 20, 0.901)0%, rgb(0, 0, 0) 100%);
    animation: opacityIntro .8s ease-in-out;
    visibility: visible;
}

@keyframes opacityIntro{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.introContent{
    text-align: center;
}

.introIcon{
    width: 120px;
    border-radius: 20%;
    /*padding: 10px;*/
    background: rgb(7, 0, 26);
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 100px -10px rgba(240, 240, 240, 0.3);
    -moz-box-shadow: 0px 0px 100px -10px rgba(240, 240, 240, 0.3);
    box-shadow: 0px 0px 30px 5px rgba(240, 240, 240, 0.15);

}

.brandIntro{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
.logo{
    font-size: 22px;
    font-weight: 900;

    color: white;
}



.downloadIntro{
    width: 100%;
    height: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px 5px;
}

.barDownloadIntro{
    width: 100%;
    height: 100%;
    background-color: #06ae1f;
    border-radius: 8px 8px;
    animation: barDownloadProgress 4s ease-in-out;
}



@keyframes barDownloadProgress {
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}*/


.founder{
    margin-top: 2px;
    font-weight: 450;
    text-align: center;
    opacity: .65;
    
}
/*___________________________________________________________________________________*/







.mainscreen{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background: url("bg.jpg");
    background-size: contain;
    opacity: 1;
    transition: all .2s ease-in-out;
}


.wrapper{
    width: 100%;
    height: 100vh;
    background: rgb(28, 28, 219);
    background: radial-gradient(circle, rgb(1, 8, 36)0%, rgb(0, 0, 0) 100%);
    padding: 0 25px;
}

.tapSec{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.sumBC{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 7vh;
    margin-bottom: -.5vh;
}


.coinimg{
    width: 45px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-top: 4px;
}



.sumnimBc{
    text-align: center;
    font-size: 50px;
    width: 25px;
    font-weight: 700;
    margin-right: 8%;
    
}


.numLvl{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 650;
    text-align: left;
    margin-left: 6%;
}

.lvl{
    width: 90%;
    height: 24px;
    border-radius: 12px 12px;
    border: 2.5px solid rgb(136, 70, 1);
    background-color:rgba(13, 44, 1, 0.668) ;
    opacity: .9;
    display: inline-flex;
    margin-top: 2px;
    align-items: center;
    margin-bottom: 20px;
    margin-bottom: -2vh;
}

.proressBar{
    width: 0%;
    height: 100%;
    border-radius: 12px 12px;
    background: rgb(9, 255, 0);
    background: linear-gradient(90deg, rgb(19, 187, 13) 50%, rgb(19, 236, 4) 100%);
    transition: all .2s ease-in-out;
    min-width: 5%;
	background: linear-gradient(90deg, #1eb803, #23d204, #11da03);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.tpaZone{
    width: 90vw;
    max-width: 420px;
    max-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 150px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .2s ease-in-out;
    margin-top: 2vh;
}







.lvlUP{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 100000;
    display: flex;
    align-items: end;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 120px 70px rgba(0, 0, 0, .95) inset;
    -moz-box-shadow: 0px 0px 120px 70px rgba(0, 0, 0,.95) inset;
    box-shadow: 0px 0px 120px 70px rgba(0, 0, 0, .95) inset;
    background-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-in-out;
}

.lvlUP.openLvlUpModal{
    visibility: visible;
    opacity: 1;

}

.modalLvlUP{
    width: 100%;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 50px 50px 0 0;
    background: rgb(28, 28, 219);
    background: radial-gradient(circle, rgb(0, 0, 22)0%, rgb(0, 0, 6) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 40px 3px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0px 0px 40px 3px rgba(240, 240, 240, 0.2);
    box-shadow: 0px 0px 40px 3px rgba(240, 240, 240, 0.2);
    transition: all .2s ease-in-out;
    border-bottom: transparent;


}

.headerModalLvlUp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 800;
    color: white;
}


.lvlUpIcon{
    width: 30px;
    margin-left: 10px;
}


.bodyModalLvlUp{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.rewarLvlUp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 100px;
}

.rewardSum{
    font-size: 35px;
}

.logoLvlUp{
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
}


.BtnCollectRewardLvl{
    width: 230px;
    font-size: 26px;
    font-weight: 700;
    padding: 7px;
    border-radius: 18px 18px;
    background: rgba(1, 181, 1, 0.782);
    color: rgb(255, 255, 255);
    border: none;
    color: white;
    cursor: pointer;
    transition: all .15s ease-in-out;
    animation: BtnCollectRewardLvlScale 2s ease-in-out infinite;
}
.BtnCollectRewardLvl:active{
    opacity: .7;
}
@keyframes BtnCollectRewardLvlScale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.97);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}














.boostANDenergySec{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.energy{
    color: white;
    display: flex;
    align-items: center;
}


.pngEnergy{
    width: auto;
    height: 40px;
    margin-right: -4px;
}

.currentEnergy{
    font-size: 24px;
    font-weight: 800;
}

.maxEnergy{
    font-size: 18px;
    opacity: .6;
    margin-top: -4px;
}

.boostBtn, .shopBtn{
    border-radius: 15px 15px;
    width: 65px;
    height: 65px;
    outline: none;
    transition: all .05s ease-in-out;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0px 0px 8px 50px rgba(255, 255, 255, 0.12) inset;
    border: 3px solid rgba(255, 255, 255, 0.28);
}


.storeIcon, .boostIcon{
    width: 44px;
    height: 44px;
}














/* boost and shop _________________________________*/

.shopPage, .BoostsPage{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    background: rgb(28, 28, 219);
    background: radial-gradient(circle, rgb(1, 5, 22)0%, rgb(0, 0, 0) 100%);
    color: white;
    visibility: hidden;
    transition: all .135s ease-in-out;
    opacity: 0;

}


.shopPage.shopPageOpen, .BoostsPage.openBoostsPage{
    visibility: visible;
    opacity: 1;

}

.shopPageHeader, .BoostsHeader{
    position: fixed;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: 700;
    font-size: 22px;
    width: 100%;
    min-height: 74px;
    height: 8vh;
    max-height: 90px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    background-color: black;
}

.backBtn, .backBtn{
    width: 28px;
    height: 28px;
}




/* shop _______________________________*/
.shopPageBody{
    width: 100%;
    height: auto;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
}



.productCard{
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border: 3px solid rgba(255, 255, 255, 0.094);
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
    border-radius: 20px 20px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.12) inset;
    border: 3px solid rgba(255, 255, 255, 0.15);
    transition: all .15s ease-in-out;
}

.productCard:active{
    opacity: .5;
    transform: scale(.98);
}



.iconProductCard, .iconProductCardModal{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.iconProductCard.blackBG, .iconProductCardModal.blackBG{
    border: 1px solid white;
}

.prodDescrip{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    font-size: 15px;
    line-height: 22px;
}

.byBtn{
    font-weight: 600;
    font-size: 17px;
    padding: 3px 5px;
    border-radius: 12px 12px;
    background-color: rgba(249, 249, 249, 0.1);
    border: none;
    width: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .025s ease-in-out;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.3);
}
.iconKiviBtnBuy{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
}





/* boost ________________*/
.BoostsBody{
    width: 100%;
    height: auto;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
}

.BoostCard{
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 3px solid rgba(255, 255, 255, 0.094);
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
    border-radius: 20px 20px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.186) inset;
    border: 3px solid rgba(255, 255, 255, 0.275);
    transition: all .15s ease-in-out;
}

.BoostCard:active{
    opacity: .5;
    transform: scale(.98);
}


.boostDescrip{
    display: flex;
    align-items: center;
    justify-content: center;

}

.IconBoostCard{
    width: 38px;
    height: 36px;
}

.textDescrip{
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
}

.boostDescripCorrection{
    font-size: 14px;
    font-weight: 550;
    opacity: .55;
}

.getBoostBtn{
    font-weight: 650;
    font-size: 17px;
    border-radius: 12px 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 114px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .025s ease-in-out;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.35);
}












.modalScection{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000000;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 120px 70px rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0px 0px 120px 70px rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0px 0px 130px 80px rgba(0, 0, 0, 0.9) inset;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .135s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.modalScection.openModalBuy{
    visibility: visible;
    opacity: 1;
}

.buyModal{
    width: 80%;
    max-width: 400px;
    height: 160px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    border-radius: 28px 28px;
    background: rgb(28, 28, 219);
    background: radial-gradient(circle, rgba(0, 0, 23, 0.73)0%, rgb(0, 0, 6, .73) 100%);
    color: white;
    padding: 10px 15px;
    -webkit-box-shadow: 0px 0px 50px -10px rgba(255, 255, 255, .3);
    -moz-box-shadow: 0px 0px 50px -10px rgba(240, 240, 240, 0.3);
    box-shadow: 0px 0px 50px -10px rgba(240, 240, 240, 0.3);
    transition: all .2s ease-in-out;
    transform: scale(0.5);

}


.PurchaseItem{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 6px;
}
.statusPurchase{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.statusName{
    padding: 8px;
    background-color: rgb(8, 187, 8);
    font-weight: 700;
    font-size: 20px;
    border-radius: 13px 13px;
}







/*     Reward video _______________________________________*/


.RewardVideo{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: black;
    z-index: 100001;
    display: flex;align-items: center; justify-content: center;
    visibility: hidden;

}

.bodyRewardVideo{
    height: 100vh;
    display: flex;align-items: center; justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 700;
}



.timerANDcloseVideo{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: transparent;
    padding: 15px 20px;
    text-align: end;
}

.timerAndBtnCloseVideo{
    color: white;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    font-size: 15px;
    transition: all .15s linear;
    display: none;
    padding-right: 1px;

}













@media (min-height: 800px) {
    .tpaZone{
        margin-top: 10vh;
    }
}

@media (max-height: 790px) {
    .tpaZone{
        margin-top: 5vh;
    }
}



@media (max-height: 800px) {
    .tapSec{
        height: 85vh;

    }
    .boostANDenergySec{
        height: 15vh;
    }

    .rewardSum{
        font-size: 30px;
    }
    
    .logoLvlUp{
        width: 32px;
        height: 32px;
    }

    .BtnCollectRewardLvl{
        width: 200px;
        font-size: 20px;
    }

    .headerModalLvlUp{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 800;
        color: white;
    }
    
    
    .lvlUpIcon{
        width: 25px;
        margin-left: 10px;
    }
}

@media (max-height: 640px){
    body{
        display: none;
        visibility: hidden;
    }
}